* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}


div.city {
  width: 100%;
  height: 100vh;
  background-color: red;
  position: relative;
  text-align: center;
}

.name {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 50px 50px;
  padding: 10px;
  font-size: 30px;
}
